@{
    ViewData["Title"] = "Home Page";
}

<div class="">

    <h3>Transient Service</h3>
    @ViewBag.Message1
    </br>
    @ViewBag.Message2

    <h3>Scoped Service</h3>
    @ViewBag.Message3
    </br>
    @ViewBag.Message4

    <h3>Singleton Service</h3>
    @ViewBag.Message5
    </br>
    @ViewBag.Message6

    <h3>Route</h3>
    @ViewBag.Message7
</div>
